@model MQTroco.ViewModels.CaixaMoedaViewModel
@{
    ViewData["Title"] = "Sangria de caixa";
}

<h2>Sangria de caixa</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Sangria" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Caixa.Id" class="control-label"></label>
                <input asp-for="Caixa.Id" class="form-control" />
            </div>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <label>Moeda</label>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <label>Qtd. Disponível</label>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                    <label>Qtd. Retirada</label>
                </div>

            </div>
            <hr />
            @for (int i = 0; i < Model.CaixaMoedas.Count(); i++)
            {
                <div class="row">
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <label class="control-label">@Model.CaixaMoedas[i].MoedaModel.Descricao</label>
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <input readonly type="text" name="__qtdDisponivel" asp-for="CaixaMoedas[i].QtdMoeda" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                        <div class="form-group">
                            <input type="number" name="@Model.CaixaMoedas[i].MoedaModel.Id" min="0" max="@Model.CaixaMoedas[i].QtdMoeda" class="form-control" />
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Efetuar Sangria" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

